<div class="container">

  <div class="centered">
    <div class="tendencia-card">
      <h3>#InTrend</h3>
    </div>

    <div class="card" *ngIf="!loading">
      <a href="{{ articleInit.link }}" target="_blank">
        <img [src]="articleInit.image" alt="{{ articleInit.title }}" />
        <h2>{{ articleInit.title }}</h2>
        <p>{{ articleInit.title }}</p>
      </a>
    </div>

    <div class="card-container">
      <div class="card1" *ngFor="let article of articles.slice(1); let i = index">
        <a href="{{ article.link }}" target="_blank">
          <img [src]="article.image" alt="{{ article.title }}" />
          <h2>{{ article.title }}</h2>
          <p>{{ article.title }}</p>
        </a>
      </div>

    </div>
    <div class="card2">
      <a href="https://www.agrisolucion.com/distribuidor/ver/greenhow/">
        <h5>Publicidad</h5>
        <img src="https://www.agrisolucion.com/media/suppliers/20210223113320451294060059de1f.jpg" alt="Título de la imagen" />
      </a>
    </div>


  </div>

  <div class="container02">
    <div class="card6">
      <a href="https://www.agrisolucion.com/producto/aguagran/jalisco/">
        <h5>Advertising</h5>
        <img src="https://www.agrisolucion.com/media/suppliers/2021030112331833973406007ff902.png" alt="Aguagran" />
      </a>
    </div>
    <div class="card6">
      <a href="https://www.agrisolucion.com/producto/ballorg-n-p-k-micro-elementos/jalisco/">
        <h5>Advertising</h5>
        <img src="https://www.agrisolucion.com/media/suppliers/202102261234582385120600624b60.png" alt="Ballorg N-P-K + Micro Elementos
" />
      </a>
    </div>
    <div class="card6">
      <a href="https://www.agrisolucion.com/producto/bananogran/jalisco/">
        <h5>Advertising</h5>
        <img src="https://www.agrisolucion.com/media/suppliers/2021030112384239576506007d27c9.png" alt="BANANOGRAN" />
      </a>
    </div>
  </div>

</div>
